body {
    background-color: green;
    margin: 0;
    padding: 0; 
}

li a {
    text-decoration:none;
    display: block;
    text-align: center;
    padding: 10px 150px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Bebas Neue";
    
}
li{
    float: left;
    
}


.container {
    display: inline-block;
    width: 150%;
    height: 450px;
    background-color: yellow;
    margin-top: 100px;
}


.box {
 display: inline-block;
 width: 49%;
 vertical-align: top;
 max-height: 200px;
 overflow: scroll;
}
 .box img {
    height: 200px;
    object-fit: cover;
    width: 30%;
    vertical-align: bottom;

 }
 .textbox {
    display: inline-block;
    width: 69;
    height: 100%;

 }

 .textbox h2, .textbox p {
    display: inline-block;
    font-family: "Caveat";
    font-size: 18px;
 }


 

.box p{
    font-family: "Caveat";
    font-size: 18px;

}